


.App-header {
  background-color: white;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
  top: 0;
  border-style: outset;
  border-bottom-color: #7D8E95;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;

}

body {
  background-color: #355347;
}

.Welcome {
  left: 20px;
  position: relative;
  top: 10px;
  text-align: left;
  font-size: 48px;
  color: black;
  font-family: montserrat;

}
.ProfileButton{
  right: 100px;
  position: fixed;
  top: 20px;
  font-size: 24px;
  color: black;
  font-family: montserrat;
  width: 100px;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;

}


